<!DOCTYPE html>
<html>
<head>
  <title>TabEditor</title>
  <script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> 
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <!--<link href="/public/stylesheets/tabdiv.css" media="screen" rel="Stylesheet" type="text/css" />-->
</head>
	<body>
	<header>
		<h1><a href="/">TabEditor</a></h1>
		<nav>
		<%= link_to "Create new", new_tab_path %>
		<%unless user_signed_in?%>
			<%=link_to "Login",new_user_session_path %>
			<%=link_to "Register",new_user_registration_path %>
		<%else%>
			<%=current_user.username.capitalize%>
			<%=link_to "Log out",destroy_user_session_path %>
		<%end%>
	        <%=link_to "Search tab",search_tabs_path%>
		</nav>
	</header>
	 <p class="notice"><%= flash[:notice] %></p>
   	 <p class="alert"><%= flash[:alert] %></p>
	 <p class="errors"><%= flash[:errors] %></p>     
	<div id="imagen">
	<%= link_to image_tag("prueba.png", :border=>0), new_tab_path %>
	</div>
	<%if user_signed_in?%>
	<ul>
		<li><%=link_to "#{current_user.username.capitalize}'s tabs",my_tabs_path%></li>
		<li><%=link_to "Edit my profile",edit_user_registration_path%></li>
		<li><%= link_to "Create new", new_tab_path %></li>
	</ul>
	<%end%>
	
	<div id="content" >
	<%= yield %>
	</div>
	
	<footer>
	 Programacion 4
	</footer>
	</body>
</html>
