
<input type="button" value ="Show editable VexTab" id="show">

<%=semantic_form_for @tab do |f|%>
 	<%=f.inputs do%>
		<%=f.input :title%>
		<%=f.input :privado%>
	<%end%>
	<%=f.buttons%>
	<div class="vex-tabdiv" width=400 scale=0.8><%=raw @tab.body%></div>

	<%=f.inputs do%>
		<%=f.input :body%>
	<%end%>
<% end %>  




