

<div class="prueba"></div>


<input type="button" value ="" id="do1" class="blanche">
<input type="button" value ="" id="c_sharp" class="noir">
<input type="button" value ="" id="re" class="blanche">
<input type="button" value ="" id="d_sharp" class="noir">
<input type="button" value ="" id="mi" class="blanche">
<input type="button" value ="" id="fa" class="blanche">
<input type="button" value ="" id="f_sharp" class="noir">
<input type="button" value ="" id="sol" class="blanche">
<input type="button" value ="" id="g_sharp" class="noir">
<input type="button" value ="" id="la" class="blanche">
<input type="button" value ="" id="a_sharp" class="noir">
<input type="button" value ="" id="si" class="blanche">
<input type="button" value ="" id="domas" class="blanche">

<input type="button" value ="show" id="show">
<%=semantic_form_for @tab do |f|%>
 	<%=f.inputs do%>
		<%=f.input :title%>
		<%=f.input :body%>
		<%=f.input :privado%>
	<%end%>
	<%=f.buttons%>

<% end %>  
