<dt><em><%=@tab.title%></em> <%=distance_of_time_in_words DateTime.now, @tab.created_at  %> ago  
<%unless @tab.user_id.nil?%> by <a href=<%="/users/#{@tab.user_id}/snippets"%> <%=User.find(@tab.user_id).username%></a>
<%end%>

<%if user_signed_in?%>
	<%if @tab.user_id.eql? current_user.id%>
		<%=link_to "Edit", "/tabs/#{@tab.id}/edit"%>
	<%end%>
<%end%></dt> </br>
<dd>
<div class="vex-tabdiv" width=400 scale=0.8>
	  <%=raw @tab.body%>
</div>
</br></dd>
